:root{
  --main-color:#212121;
  --color2:#2196f3;
  --color3:#757575; /*for all light gray elements*/
  --main-font:Roboto,sans-serif;
  --logo-font:Raleway,sans-serif;
  --border-color:#e5e5e5;
  --font-normal:400;   
  --font-medium:500;
  --font-bold:700;
  --font-ultra-bold:900;
}
body {
  position: relative;
  display: block;
  width: 1600px;
  display: block;
  background: #ffffff;
  font-family:var( --main-font);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
/* Header */
header {
  position: relative;
  display: flex;
  width: inherit;
  padding: 32px 0;
  left: 0px;
  top: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
}
a:active,
a:link,
a:visited {
  color:var(--main-color);
  text-decoration: none;
}
a:hover, a:focus, header .list-contacts a:hover,
header .list-contacts a:focus {
  color:var(--color2);
}
ul {
  list-style-type: none;
}
/* Navigation*/
nav {
  position: relative;
  width: 100%;
  left: 210px;
  top: 0;
}
/* Link Logo "WebStudio" */
.logo span {
  color: var(--color2);
}
header .logo {
  position: absolute;
  top: 3px;
}

.logo {
  width: 145px;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
}
/* Link Logo "WebStudio" */
.nav-list {
  width: 294px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: auto;
  position: relative;
  left: 200px;
}
header .list-contacts {
  position: absolute;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 1050px;
  top: 0;
  padding-top: 32px;
}
.list-contacts .mail,
.list-contacts .phone {
  color:var(--color3);
}

/* Header */

/* Main Portfolio page*/
.main-portfolio {
  position: relative;
  width: 1170px;
  left: 215px;
  top: 44px;
}
.list-filter {
  position: relative;
  width: 661px;
  padding: 30px 0 40px 0;
  left: 250px;
  display: flex;
  justify-content: space-between;
  
}
.filter-button {
  padding: 5px 20px;
  font-weight:500;
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 26px;
  /* identical to box height, or 162% */
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter-button:hover {
  background: var(--color2);
  /* shadow-middle */
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
/*Section Projects*/
.container {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}
.list-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  justify-content: space-between;
  flex: auto;
}
.list-projects-item {
  position: relative;
  width: 370px;
  height: 404px;
  margin: 0 0 30px 0;
  border-style: solid;
  border-width: 1px;
  /*border-color: #eeeeee;*/
  border-color: #eeeeee;
}
.list-project-subtitle {
  font-weight: var(--font-bold);
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  margin: 15px 0 5px 24px;
  letter-spacing: 0.04em;
}
.list-project-text {
  font-weight: var(--font-normal);
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  margin-left: 24px;
  color:var(--color3);
}

/* Main Portfolio page*/
/*Footer*/
footer {
  position: relative;
  width: inherit;
  height: 252px;
  left: 0px;
  background: #2f303a;
  color: #ffffff;
}
footer .logo {
  position: relative;
  left: 215px;
  top: 50px;
  color: #ffffff;
}
address {
  position: relative;
  left: 215px;
  top: 65px;
  font-style: normal;
  font-weight: var(--font-normal);
}
footer .mail {
  position: relative;
  left: 215px;
  top: 85px;
}
footer .phone {
  position: relative;
  left: 78px;
  top: 120px;
}

footer .phone:link,
footer .mail:link {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer a:hover,
footer a:focus,
footer .phone:hover,
footer .mail:hover,
footer .phone:focus,
footer .mail:focus {
  color:var(--color2);
}
/* Index.html*/
.main-studio {
  position: relative;
  width: inherit;
  padding-bottom:50px;
}
.hero {
  position: relative;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 0;
  padding: 40px 0 80px 0;
  background: #2f303a;
}
.hero-title {
  position: relative;
  width: 696px;
  left: 452px;
  top: 160px;
  font-weight: var(--font-ultra-bold);
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  position: relative;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 180px;
  background: var(--color2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: var(--font-bold);
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: #ffffff;
}
.qualities {
  position: relative;
  width: 1170px;
  left: 210px;
  padding: 50px 0 70px 0;
}
.list-qualities {
  display: flex;
  padding-inline-start: 0;
  justify-content: space-between;
}
.list-qualities-item:last-child {
  margin-right: 0;
}
.list-qualities-item {
  width: 370px;
  height: 101px;
}
.list-qualities-subtitle {
  font-weight: var(--font-bold);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--main-color);
}
.list-qualities-text {
  font-weight: var(--font-normal);
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--color3);
  width:270px;
  margin-right: 40px;
}
.pictures {
  position: relative;
  width: 1170px;
  left: 200px;
}
.pictures .list-pictures {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

.list-pictures-item {
  width: 370px;
  height: 294px;
}

.list-pictures-item:last-of-type {
  margin-right: -20px;
}
.pictures-title {
  font-weight:var(--font-bold);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  position: relative;
  width: 1600px;
  left: 0px;
  top: 50px;
  padding: 50px 0 100px 0;
  background-color: #f5f4fa;

}
.team-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  position: relative;
  width: 1170px;
  left: 200px;
  top: 20px;
}
.team-list-item:last-of-type {
  margin-right: 0;
}
.team-list-item {
  width: 270px;
  height: 368px;
  margin-right: 30px;
  background: #ffffff;
   material shadow v1; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle,
.team-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.team-subtitle{font-weight: var(--font-medium);}
.team .team-text {
  color: var(--color3);
  font-weight: var(--font-normal);
}
.team-title {
  position: relative;
  width: 265px;
  left: 668px;
  font-weight:var(--font-bold);
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Index.html*/
